<%= form_with(model: stadium, local: true) do |form| %>
  <% if stadium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stadium.errors.count, "error") %> prohibited this stadium from being saved:</h2>

      <ul>
      <% stadium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
