<h1>Dashboard</h1>
<%=  Rails.application.secrets.google_maps_key %>

<h1>Google Maps Tut</h1>
<div id="map-container" class="map-container">
  <div id="map-container" class="map-canvas">
  </div>
</div>
require 'pry'; binding.pry
