<!DOCTYPE html>
<html>
  <head>
    <title>StadiumApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% key= Rails.application.secrets.google_maps_key %>
    <script src="https://maps.googleapis.com/maps/api/js?key=#{key}" async defer></script>
  </head>

  <body>
    <div class="berlin-background">
      <div class="uk-container uk-flex uk-flex-center uk-flex-middle uk-height-viewport">
        <div class="uk-width-1-1 uk-flex-middle" uk-grid>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
